:root {
    --color-white: #FFFFFF;     
    --color-text-grey: #BFBFBF;  
    --color-text-dark: #000000;  
    --color-text-muted: #898685;  

    --color-accent-coral: #F48371; 
    --color-accent-brown: #41362F; 
    --color-status-bg: #3D3733;    

    --color-bg-main: #292929;     
    --color-bg-menu: #272626;     
    --color-bg-dark: #1F1E1E;   
    --color-bg-darker: #080808;  
    --color-bg-input: #333333;  
    
    --color-border: #424242;      
    --color-border-light: #5B5958;
    
    --color-grey-40: #404040;    
    --color-grey-light: #D9D9D9;  
}