.Settings_block_Settings_flex_container {
    display: flex;
    margin-top: 24px;
    gap: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.crm_section {
    flex: 1 0 496px;
    max-width: 496px;
    margin-right: 0;
}

.block_title_Your_CRM {
    font-size: 20px;
    font-weight: 600;
    padding: 0 24px;
    margin-bottom: 16px;
    margin-top: 48px;
}

.crm_block_wrapper {
    width: 100%;
    min-width: unset;
}

.crm_block_wrapper .border {
    position: relative;
}

.card_header {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 16px;
}

.card_title_and_status {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card_title_and_status h3 {
    margin: 0;
    color: var(--color-white);
    white-space: nowrap;
}

.menu_button {
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    line-height: 0;
    margin-left: auto;
    margin-right: 0px;
    width: 24px;
    height: 24px;
}

.card_description {
    font-size: 16px;
    color: var(--color-text-grey);
}

.disconnect_button {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid var(--color-text-muted);
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    padding: 8px 16px;
    font-weight: 600;
    margin-top: 75px;
    align-items: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.disconnect_button:hover {
    border-color: var(--color-text-grey);
    box-shadow: 0 0 0 1px var(--color-text-grey);
}

.badge_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.status_badge {
    background-color: var(--color-status-bg);
    color: var(--color-accent-coral);
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    transform: translate(0, -140%);
}