.notifications-block {
    max-width: 690px;
    margin-left: 24px;
    margin-right: 24px;
}

.notifications_block .block_title {
    margin-bottom: 20px;
}

.checkbox_group {
    flex: 1 1 calc(50% - 10px);
    min-width: 150px;
    padding: 16px 16px;
    border: 1px solid var(--color-border);
    border-radius: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.checkbox_group:hover {
    border-color: var(--color-text-grey);
    box-shadow: 0 0 0 1px var(--color-text-grey);
}

.checkbox_group .label-text {
    margin-left: 15px;
    font-size: 16px;
    color: var(--color-white);
    flex-grow: 1;
    transition: color 0.4s, opacity 0.4s;
    opacity: 1;
}

.checkbox_group:has(input:not(:checked)) .label-text {
    color: var(--color-text-grey);
    opacity: 0.6;
}

.toggle_switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
    flex-shrink: 0;
}

.toggle_switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey-40);
    transition: .4s;
    border-radius: 28px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-white);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--color-accent-brown);
}

input:checked+.slider:before {
    transform: translateX(20px);
}