.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--color-bg-menu);
    padding: 8px;
    box-sizing: border-box;
    z-index: 100;
}

.menu_logo {
    padding: 24px 70.5px 24px;
    border-bottom: 1px solid var(--color-border);
}

.menu_middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu_item {
    padding: 12px;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.menu_item:hover {
    background-color: var(--color-bg-input);
    border-radius: 12px;
}

.menu_link {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--color-text-grey);
    padding-left: 12px;
    transition: color 0.3s ease;
}

.menu_item:hover .menu_link {
    color: var(--color-white);
}

.menu_inbox {
    padding: 16px 0;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 16px;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link > span {
    font-size: 20px;
    font-weight: 600;
}

.arrow {
    display: flex;
    margin-left: auto;
    width: 24px;
    height: 24px;
}

.menu_admin {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin_item {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 12px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.admin_item:not(:last-child):hover {
    background-color: var(--color-bg-input);
    border-radius: 12px;
}

.admin_link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--color-text-grey);
    padding: 12px;
    transition: color 0.3s ease;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
}

.admin_item:last-child .admin_link {
    border-radius: 12px;
    color: var(--color-white);
    background-color: var(--color-bg-input);
}

.admin_item:hover .admin_link {
    color: var(--color-white);
}