
@import "./utils/variables.css";

@import "./components/basic_slyle.css"; 
@import "./components/settings.css";
@import "./components/menu.css";


@import "./components/personal_info.css";
@import "./components/select_role.css";
@import "./components/notifications.css";


@import "./components/CRM.css";
@import "./components/language.css";
@import "./components/modal.css";


@import "./components/media_adapt.css";

@import "./untils/variables.css";